#carouselRoot{
    width: 85vw;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}
#carouselCenter{
    width: 36%;
    position: absolute;
    right: 32%;
    bottom: 0;
}
#carouselLeft{
    width: 22%;
    position: absolute;
    left: 10%;
    margin-top:60px;
}
#carouselRight{
    width: 22%;
    position: absolute;
    right: 10%;
    margin-top:60px;
}
#dotsL{
    display: none;
}
#carouselButtons{
    width: 20%;
    height: 20px;
    position: absolute;
    left: 40%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.carouselButton{
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: azure;
    cursor: pointer;
}
#carouselSwitchLeft,#carouselSwitchRight{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#carouselSwitchLeft{
    left: 10%;
    cursor: pointer;
}
#carouselSwitchRight{
    right: 10%;
    cursor: pointer;
 }
