.searchPageLyricsRowEven,.searchPageLyricsRowOdd{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    cursor: pointer;
}
.searchPageLyricsRowEven:hover,.searchPageLyricsRowOdd:hover{
    background-color: rgba(0,0,0,0.1);
}
.searchPageLyricsRowEven{
    background-color: rgba(0,0,0,0.05);
}
.searchPageLyricsButton{
    border-radius: 10px;
    border: rgba(0,0,0,0.5) solid 0.05px;
    padding: 2px 4px 2px 4px;
    margin-top: 5px;
}
.searchPageLyricsButton:hover{
    border: rgba(0,0,0,0.15) solid 0.05px;
    background-color: rgba(0,0,0,0.15);
    color: white;
}